body{
	background-color: #90caf9;
	color: #01579b;
	text-align: justify;
	font-family: "Calibri","Helvetica";
	font-size: 25px;
}

h1{
	color: #0d47a1;
	text-align: center;
	font-family: "Calibri","Helvetica";
}

h2{
	color: #2979ff;
	text-align: justify;
	font-family: "Calibri","Helvetica";
}

img{
	display: block;
	margin: auto;
	border: #00695c 5px solid;
	border-radius: 20px;
	width: 500px;
	height: 300px;
}

a{
	text-decoration: none;
	color: #00796b;
}